* {
    padding: 0;
    margin: 0;
}

.body {
    background-image: url(./Bg.jpg);
    min-height: 100vh;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

#hiscoreBox {
    position: absolute;
    top: 55px;
    right: 110px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

#board {
    background: linear-gradient(rgb(0, 238, 255), rgb(255, 0, 157));
    width: 90vmin;
    height: 90vmin;
    border: 5px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(rgb(255, 255, 255), rgb(24, 159, 19));
    border: 2px solid rgb(0, 0, 0);
    transform: scale(1.3);
    border-radius: 10px;
}

.snake {
    background: linear-gradient(rgb(24, 159, 19), rgb(24, 159, 19));
    border: .25vmin solid rgb(0, 0, 0);
    border-radius: 9px;
}

.food {
    background: linear-gradient(rgb(255, 166, 0), rgb(82, 54, 0));
    border: .25vmin solid rgb(0, 0, 0);
    border-radius: 19px;
}